:root.theme-light {
  --page-bgi: url(../images/cover-image-light.png);
  --page-bg: #fff1f7;
  --decorated-zone: #353430;
  --no-focus-color: #ffc2e6;
  --tittle-decor-color: #ff8dcb;
  --link-text-color: #353430;
  --link-text-shadow-color: #ff8dcb;
  --link-focus-visible-color: #353430;
  --tittle-h2-color: #353430;
  --tittle-h3-h4-color: #353430;
  --description-color: #353430;
  --button-border-color: #353430;
  --button-text-color: #353430;
  --button-border-color-hover: rgba(53, 52, 48, 0.4);
  --color-border-active: #353430;
}
.theme-light .rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --page-bgi: url(../images/cover-image-light.png);
    --page-bg: #fff1f7;
    --decorated-zone: #353430;
    --no-focus-color: #ffc2e6;
    --tittle-decor-color: #ff8dcb;
    --link-text-color: #353430;
    --link-text-shadow-color: #ff8dcb;
    --link-focus-visible-color: #353430;
    --tittle-h2-color: #353430;
    --tittle-h3-h4-color: #353430;
    --description-color: #353430;
    --button-border-color: #353430;
    --button-text-color: #353430;
    --button-border-color-hover: rgba(53, 52, 48, 0.4);
    --color-border-active: #353430;
  }
  .rec {
    display: none;
  }
}
